<h2>lw init</h2>
<p>
   Run this command in an empty directory to create a ready to go web component project.
</p>

<h2>lw serve</h2>
<p>
   Start a dev server and monitor for any source code changes.
</p>

<h2>lw dist</h2>
<p>
   Build your project and get the output ready for production.
</p>

<h2>lw upgrade</h2>
<p>
   Upgrade project runtime after Leanweb tools upgraded.
</p>

<h2>lw electron</h2>
<p>
   Turn your project into a native desktop app with Electron.
</p>

<h2>lw help</h2>
<p>
   Get help information for more commands.
</p>