<div class="cmd">
   <div class="prompt"><span class="dollar">$</span> lw init</div>
   <p>Create a ready-to-go web component project in an empty directory. Uses light DOM with scoped CSS by default.
      Add <span class="text-highlight">--shadow-dom</span> to enable Shadow DOM encapsulation.</p>
</div>

<div class="cmd">
   <div class="prompt"><span class="dollar">$</span> lw serve</div>
   <p>Start a dev server and watch for source code changes.</p>
</div>

<div class="cmd">
   <div class="prompt"><span class="dollar">$</span> lw dist</div>
   <p>Build your project for production.</p>
</div>

<div class="cmd">
   <div class="prompt"><span class="dollar">$</span> lw upgrade</div>
   <p>Upgrade the project runtime after updating Leanweb tools.</p>
</div>

<div class="cmd">
   <div class="prompt"><span class="dollar">$</span> lw help</div>
   <p>Get help information for all available commands.</p>
</div>
