<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/agate.min.css">

<div class="left">
   <leanweb-app-terminal width='340'>
      <div class="mainScreen">
         <p class="line" lw lw-for="line in terminalData.install">line</p>
      </div>
   </leanweb-app-terminal>
</div>
<div class="middle">
   <h1>Leanweb</h1>
   <h3>Web Components made easier</h3>
   <h3>Without magic</h3>
</div>

<div class="right">
   <img src="resources/github.svg" alt="Github" width="30">
   <img src="resources/npm.svg" alt="npm" width="30">
</div>


<div class="codeBlock html">
   <span class="label">HTML</span>
   <pre><code class="html">
  
  Hello &lt;span lw&gt;name&lt;/span&gt;!


</code></pre>
</div>
<div class="codeBlock javascript">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   class extends LWElement {
      name = 'Leanweb';
   }

</code></pre>
</div>
<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         Hello <span lw>name</span>!
      </div>
   </leanweb-app-terminal>
</div>