@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/agate.min.css";

:host {
  padding: 50px 0;
  gap: 40px 20px;
  background-color: tomato;
  // height: 450px;
  display: grid;
  grid-template-columns: 1fr repeat(9, 100px) 1fr;

  .left {
    grid-column: 2/6;
    grid-row: 1;
    leanweb-app-terminal .mainScreen {
      background-color: #151515;
      box-sizing: border-box;
      width: 100%;
      padding: 20px;
      border-radius: 0 0 2px 2px;

      p.line {
        margin: 6px auto;
        position: relative;
        text-align: left;
        font-size: 1.25em;
        font-family: monospace;
        white-space: nowrap;
        overflow: hidden;
        color: #f5f5f5;
        &::before {
          content: "$";
          padding-right: 8px;
        }
      }
    }
  }

  .right {
    grid-column: 6/11;
    grid-row: 1;
    color: white;

    h1 {
      font-size: 30px;
    }

    h3 {
      font-size: 16px;
    }
  }

  .codeBlock {
    position: relative;
    .label {
      position: absolute;
      color: lightgray;
      right: 4px;
      top: 4px;
      font-size: 11px;
    }
  }

  .html {
    grid-column: 2/5;
    grid-row: 2;
    pre {
      margin: 0;
    }
  }
  .javascript {
    grid-column: 5/8;
    grid-row: 2;
    pre {
      margin: 0;
    }
  }
  .browser {
    grid-column: 8/11;
    grid-row: 2;
    leanweb-app-terminal .mainScreen {
      background-color: white;
      box-sizing: border-box;
      width: 100%;
      padding: 20px;
      border-radius: 0 0 2px 2px;
    }
  }
}
