<div class="one">
   <div class="left">
      <leanweb-app-terminal>
         <div class="mainScreen">
            <p class="line" lw lw-for="line in terminalData">line</p>
         </div>
      </leanweb-app-terminal>
   </div>
   <div class="middle">
      <h1>Leanweb</h1>
      <p>Builds framework agnostic web components</p>
      <p>DOM first, no magic</p>
      <p>Lean, 4kb runtime gzipped</p>
   </div>
</div>

<div class="two">
   <div class="code">
      <div class="code-block html">
         <span class="label">HTML</span>
         <pre><code class="html">
  
  Hello &lt;span lw&gt;name&lt;/span&gt;!
  &lt;span lw&gt;me instanceof HTMLElement&lt;/span&gt;


         </code></pre>
      </div>
      <div class="code-block javascript">
         <span class="label">Javascript</span>
         <pre><code class="javascript">
   class extends LWElement {
      name = 'Leanweb';
      me = this;
   }

         </code></pre>
      </div>
   </div>

   <div class="browser">
      <leanweb-app-terminal>
         <div class="mainScreen">
            Hello <span lw>name</span>!
            <span class="this" lw>me instanceof HTMLElement</span>
         </div>
      </leanweb-app-terminal>
   </div>
</div>

<div class="three">
   <div class="code">
      <div class="code-block html">
         <span class="label">HTML</span>
         <pre><code class="html">
  
   Radius: 
   &lt;input type=&quot;number&quot; lw-model=&quot;r&quot;&gt;
   Area: 
   &lt;span lw&gt;Math.PI * r * r&lt;/span&gt;

         </code></pre>
      </div>
      <div class="code-block javascript">
         <span class="label">Javascript</span>
         <pre><code class="javascript">
   class extends LWElement {
      r = 1;
   }

   

         </code></pre>
      </div>
   </div>

   <div class="browser">
      <leanweb-app-terminal>
         <div class="mainScreen">
            Radius: <input type="number" lw-model="r">
            Area: <span lw>Math.PI*r*r</span>
         </div>
      </leanweb-app-terminal>
   </div>
</div>