:host {
  display: block;
  border-top: 1px solid var(--ui-border);
}

h2 {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--ui-text);
  margin: 36px 0 12px 0;
}

li {
  margin-bottom: 16px;
  color: var(--ui-text-muted);
  line-height: 1.7;
}
