<h2>How to import another Leanweb project?</h2>
<p>You will be able to use components from another Leanweb project just as how you use a local component by importing them. Please note all dependencies of dependency Leanweb projects need to be installed in the main project.</p>
<ul>
   <li>
      <h4>when the dependencies Leanweb project is installed as an npm package</h4>
      <p>Just add the dependency Leanweb project name to the imports list in <span
            class="text-highlight">leanweb.json</span> under <span class="text-highlight">src/</span> directory. That's
         it.</p>
      <div class="code-block">
         <span class="label">leanweb.json</span>
         <pre><code class="json">
   {
      // "name": "demo",
      // "version": "0.5.6",
      // "components": ["root"],
      "imports": [
         // assuming other-lw-project is a Leanweb project 
         // and is installed as an npm package
         "other-lw-project" 
      ],
      // "resources": ["resources/"]
   }
         </code></pre>
      </div>
   </li>
   <li>
      <h4>when the dependencies Leanweb project is in a local directory</h4>
      <p>Just add the dependency Leanweb project's path (relative or absolute) to the same place as the example above.
      </p>
      <div class="code-block">
         <span class="label">leanweb.json</span>
         <pre><code class="json">
   {
      // "name": "demo",
      // "version": "0.5.6",
      // "components": ["root"],
      "imports": [
         // assuming other-lw-project is a Leanweb project 
         // in a local directory
         "../other-lw-project" 
      ],
      // "resources": ["resources/"]
   }
         </code></pre>
      </div>
   </li>
</ul>

<h2>How to import third party modules?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   // relative to node_modules
   import hljs from 'highlight.js/lib/core.js';
   
   // relative to node_modules
   import hljs from 'highlight.js';
   
   // relative to project root
   import LWElement from '~/src/lib/lw-element.js';

   // relative path
   import ast from './ast.js';

</code></pre>
</div>

<h2>How to import CSS/SCSS?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   import agate from 'highlight.js/scss/agate.scss';
   // customElements.define('demo-root',
   //   class extends LWElement {  // LWElement extends HTMLElement
   //     constructor() {
   //       super(ast);

            // apply CSS/SCSS to local web component
            super.applyStyles(agate);
   //     }
   //   }
   // );
</code></pre>
</div>

<h2>How to import JSON?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   import pkg from '~/package.json';

</code></pre>
</div>

<p>You could import any files using the same <span class="text-highlight">import</span> syntax. But please note you will
   be responsible for making the imported files available in resources directories.</p>

<h2>How to update DOM of another component?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   document.querySelector('demo-root').shadowRoot.querySelector('demo-login').update();
   
   </code></pre>
</div>
<p>
   This is to update the DOM of the <span class="text-highlight">demo-login</span> component enclosed by <span
      class="text-highlight">demo-root</span> component.
</p>

<h2>How to do component routing?</h2>
<div class="code-block">
   <span class="label">HTML</span>
   <pre><code class="html">
   &lt;demo-login lw-if=&quot;urlHash==='#/login'&quot;&gt;&lt;/demo-login&gt;
   &lt;demo-signup lw-if=&quot;urlHash==='#/signup'&quot;&gt;&lt;/demo-signup&gt;
   &lt;demo-dashboard lw-if=&quot;urlHash==='#/dashboard'&quot;&gt;&lt;/demo-dashboard&gt;
   </code></pre>
</div>

<h2>How to update DOM when url hash changes?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   customElements.define('demo-root',
   class extends LWElement { 
      constructor() {
         super(ast);
      }

      // If urlHashChanged() is defined as a function, it will be called 
      // whenever the urlHash changes. This could be useful to update the 
      // DOM on component routing.
      urlHashChanged() {
         // update component DOM
         this.update();
      }
   }
   </code></pre>
</div>

<br>
<br>