<h2>How to import another Leanweb project?</h2>
<p>
   There are two ways you can use web components from another Leanweb project. One way is to include the .js file from
   the <span class="text-highlight">dist/</span> directory of another Leanweb project. Insert the following line in the
   <span class="text-highlight">index.html</span> or any component html template.
</p>
<div class="code-block">
   <span class="label">HTML</span>
   <pre><code class="html">
   &lt;script src='other-lw-project.js'&gt;&lt;/script&gt;
   </code></pre>
</div>
<p>
   And you are good to go. Now you could use any web components defined in the demo project in your project.
</p>

<p>
   Another way is to import the source code from another Leanweb project into your project. Please note all dependencies
   of dependency Leanweb projects need to be installed in the main project.</p>
<ul>
   <li>
      <h4>when the dependency Leanweb project is installed as an npm package</h4>
      <p>Just add the dependency Leanweb project name to the imports list in <span
            class="text-highlight">leanweb.json</span> under <span class="text-highlight">src/</span> directory. That's
         it.</p>
      <div class="code-block">
         <span class="label">leanweb.json</span>
         <pre><code class="json">
   {
      // "name": "demo",
      // "version": "0.5.6",
      // "components": ["root"],
      "imports": [
         // assuming other-lw-project is a Leanweb project 
         // and is installed as an npm package
         "other-lw-project" 
      ],
      // "resources": ["resources/"]
   }
         </code></pre>
      </div>
   </li>
   <li>
      <h4>when the dependency Leanweb project is in a local directory</h4>
      <p>Just add the dependency Leanweb project's path (relative or absolute) to the same place as the example above.
      </p>
      <div class="code-block">
         <span class="label">leanweb.json</span>
         <pre><code class="json">
   {
      // "name": "demo",
      // "version": "0.5.6",
      // "components": ["root"],
      "imports": [
         // assuming other-lw-project is a Leanweb project 
         // in a local directory
         "../other-lw-project" 
      ],
      // "resources": ["resources/"]
   }
         </code></pre>
      </div>
   </li>
</ul>

<h2>How to import third party modules?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   // relative to node_modules
   import hljs from '/node_modules/node_modules/highlight.js/lib/core.js';
   
   // relative to project root
   import LWElement from '/build/lib/lw-element.js';

   // relative path
   import ast from './ast.js';

</code></pre>
</div>

<h2>How to <span class="text-highlight">import</span> JSON?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   import pkg from '/package.json';

</code></pre>
</div>

<p>You could import any files using the same <span class="text-highlight">import</span> syntax. But please note you will
   be responsible for making the imported files available in resources directories.</p>

<h2>How to <span class="text-highlight">@use</span>css/sass/scss from <span class="text-highlight">node_modules</span>?
</h2>
<div class="code-block">
   <span class="label">CSS/SCSS</span>
   <pre><code class="scss">
   @use 'bulma/bulma.sass';
   
   </code></pre>
</div>

<h2>How to update DOM of another component?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   document.querySelector('demo-root').shadowRoot.querySelector('demo-login').update();
   
   </code></pre>
</div>
<p>
   This is to update the DOM of the <span class="text-highlight">demo-login</span> component enclosed by <span
      class="text-highlight">demo-root</span> component.
</p>

<h2>How to update DOMs of all components?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   leanweb.eventBus.dispatchEvent('update');
   
   </code></pre>
</div>
<p>
   All instances of LWElement listen on <span class="text-highlight">update</span> event to update their DOMs.
   Therefore, simply dispatching the <span class="text-highlight">update</span> event will trigger DOMs of all
   components to update themselves. Only changed part will get updated.
</p>

<h2>How to do component routing?</h2>
<div class="code-block">
   <span class="label">HTML</span>
   <pre><code class="html">
   &lt;demo-login lw-if='leanweb.urlHash==='#/login''&gt;&lt;/demo-login&gt;
   &lt;demo-signup lw-if='leanweb.urlHash==='#/signup''&gt;&lt;/demo-signup&gt;
   &lt;demo-dashboard lw-if='leanweb.urlHash==='#/dashboard''&gt;&lt;/demo-dashboard&gt;
   </code></pre>
</div>

<h2>How to update DOM when url hash changes?</h2>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   customElements.define('demo-root',
   class extends LWElement { 
      constructor() {
         super(ast);
      }

      // If urlHashChanged() is defined as a function, it will be called 
      // whenever the urlHash changes. This could be useful to update the 
      // DOM on component routing.
      urlHashChanged() {
         // update component DOM
         this.update();
      }
   }
   </code></pre>
</div>

<h2>How to build for production?</h2>
<p>
   Under <span class="text-highlight">src/</span> directory, there is an <span class="text-highlight">env.js</span> file
   and an <span class="text-highlight">env/</span> directory. <span class="text-highlight">lw s</span> will use <span
      class="text-highlight">src/env.js</span>, and <span class="text-highlight">lw s prod</span> will use <span
      class="text-highlight">src/env/prod.js</span>. You can create additional env files in the <span
      class="text-highlight">src/env/</span> directory as you need. Other than <span class="text-highlight">lw s</span>,
   <span class="text-highlight">lw di</span> and <span class="text-highlight">lw e</span> support the same <span
      class="text-highlight">env</span> parameters.
</p>
<p>
   If <span class="text-highlight">post-dist</span> file is present in the project root directory, it will be called
   after <span class="text-highlight">lw dist</span> is done. This could be useful to copy <span
      class="text-highlight">dist/*</span> to somewhere else.
</p>

<h2>A few <span class="text-highlight">lw serve</span> parameters</h2>
<p>
   <span class="text-highlight">host=0.0.0.0 lw s</span> to listen on all all IPv4 local host addresses.
</p>
<p>
   <span class="text-highlight">host=:: lw s</span> to listen on all all local host addresses.
</p>
<p>
   <span class="text-highlight">port=9999 lw s</span> to listen on port 9999.
</p>
<p>
   <span class="text-highlight">noopen=1 lw s</span> to not open a browser.
</p>
<br>
<br>