<h2>Update Other Components</h2>
<p>
   It is important to understand that you are responsible to update the DOM of any components that needs to be updated.
   However, an <span class="text-highlight">LWElement</span>'s DOM gets updated when:
</p>
<ol>
   <li>
      the component is initialized;
   </li>
   <li>
      any local <span class="text-highlight">lw-on:</span> event is triggered;
   </li>
   <li>
      any local <span class="text-highlight">lw-model:</span> is changed;
   </li>
</ol>
<p>
   You might need to update local or other components DOM when:
</p>
<ul>
   <li>
      any remote event is triggered;
   </li>
   <li>
      any network response is received;
   </li>
   <li>
      <span class="text-highlight">setTimeout</span> and <span class="text-highlight">setInterval</span> callbacks;
   </li>
</ul>

<h3>Update all components app wide</h3>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   leanweb.updateComponents();

</code></pre>
</div>

<h3>Update components by tag names</h3>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   leanweb.updateComponents('demo-root', 'demo-login');

</code></pre>
</div>

<h3>An Example</h3>

<div class="code-block">
   <span class="label">root.html</span>
   <pre><code class="html">
   &lt;div class=&quot;buttons&quot;&gt;
      &lt;button lw-on:click=&quot;updateAll()&quot;&gt;Update All&lt;/button&gt;
      &lt;button lw-on:click=&quot;updateRed()&quot;&gt;Update Red&lt;/button&gt;
      &lt;button lw-on:click=&quot;updateBlue()&quot;&gt;Update Blue&lt;/button&gt;
   &lt;/div&gt;

   &lt;div class=&quot;red&quot;&gt;
      &lt;demo-dest-red&gt;&lt;/demo-dest-red&gt;
      &lt;demo-dest-red&gt;&lt;/demo-dest-red&gt;
   &lt;/div&gt;
   &lt;div class=&quot;blue&quot;&gt;
      &lt;demo-dest-blue&gt;&lt;/demo-dest-blue&gt;
      &lt;demo-dest-blue&gt;&lt;/demo-dest-blue&gt;
   &lt;/div&gt;

</code></pre>
</div>

<div class="code-block">
   <span class="label">root.js</span>
   <pre><code class="javascript">
   class extends LWElement {
      updateAll() {
         // update all components
         leanweb.updateComponents();

         // update components by exact tag names
         // leanweb.updateComponents('demo-dest-red', 'demo-dest-blue');
      }

      updateRed() {
         leanweb.updateComponents('demo-dest-red');
      }

      updateBlue() {
         leanweb.updateComponents('demo-dest-blue');
      }
   }

</code></pre>
</div>

<div class="code-block">
   <span class="label">dest-red.html</span>
   <pre><code class="html">
   &lt;div lw&gt;time ?? '-'&lt;/div&gt;

</code></pre>
</div>

<div class="code-block">
   <span class="label">dest-red.js</span>
   <pre><code class="javascript">
   customElements.define('demo-dest-red',
   class extends LWElement {
      constructor() {
         super(ast);
         setInterval(() => {
            this.time = new Date(Date.now()).toLocaleString();
         }, 1000);
      }
   }

</code></pre>
</div>

<div class="code-block">
   <span class="label">dest-blue.html</span>
   <pre><code class="html">
   &lt;div lw&gt;time ?? '-'&lt;/div&gt;

</code></pre>
</div>

<div class="code-block">
   <span class="label">dest-blue.js</span>
   <pre><code class="javascript">
   customElements.define('demo-dest-blue',
   class extends LWElement {
      constructor() {
         super(ast);
         setInterval(() => {
            this.time = new Date(Date.now()).toLocaleString();
         }, 1000);
      }
   }

</code></pre>
</div>

<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         <div class="controls">
            <div class="buttons">
               <button lw-on:click="updateAll()">Update All</button>
               <button lw-on:click="updateRed()">Update Red</button>
               <button lw-on:click="updateBlue()">Update Blue</button>
            </div>
         </div>
         <div class="dest">
            <leanweb-app-sections-code-14-dest-red></leanweb-app-sections-code-14-dest-red>
            <leanweb-app-sections-code-14-dest-red></leanweb-app-sections-code-14-dest-red>
         </div>
         <div class="dest">
            <leanweb-app-sections-code-14-dest-blue></leanweb-app-sections-code-14-dest-blue>
            <leanweb-app-sections-code-14-dest-blue></leanweb-app-sections-code-14-dest-blue>
         </div>
      </div>
   </leanweb-app-terminal>
</div>