<h2>Parent to listen on child's custom events</h2>
<div class="code-block">
   <span class="label">parent.html</span>
   <pre><code class="html">
   &lt;div class='parent'&gt;
      &lt;span&gt;Parent&lt;/span&gt;
      &lt;span lw&gt;quantity&lt;/span&gt;
      &lt;demo-child lw-on:add='onAdd($event)' &lt;/demo-child&gt;
   &lt;/div&gt;

</code></pre>
</div>

<div class="code-block">
   <span class="label">parent.js</span>
   <pre><code class="javascript">
   class extends LWElement {
      quantity = 0;
      
      onAdd(event) {
         this.quantity += event.detail;
      }
   }

</code></pre>
</div>

<div class="code-block">
   <span class="label">child.html</span>
   <pre><code class="html">
   &lt;div class='child'&gt;
      &lt;span&gt;Child&lt;/span&gt;
      &lt;div class='buttons'&gt;
         &lt;button lw-on:click='add(1)'&gt;Add One&lt;/button&gt;
         &lt;button lw-on:click='add(-1)'&gt;Remove One&lt;/button&gt;
      &lt;/div&gt;
   &lt;/div&gt;

</code></pre>
</div>

<div class="code-block">
   <span class="label">child.js</span>
   <pre><code class="javascript">
   class extends LWElement {
      add(by) {
         this.dispatchEvent(new CustomEvent('add', {
            detail: by
         }));
      }
   }

</code></pre>
</div>

<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         <leanweb-app-sections-code-15-parent></leanweb-app-sections-code-15-parent>
      </div>
   </leanweb-app-terminal>
</div>