<h2>lw-input:</h2>
<p>
   The following example shows how parent and child component share data by passing data with <span
      class='text-highlight'>lw-input:</span>.
</p>
<div class="code-block">
   <span class="label">parent.html</span>
   <pre><code class="html">
   &lt;div class=&quot;parent&quot;&gt;
      &lt;span&gt;Parent&lt;/span&gt;
      &lt;span lw&gt;item?.quantity&lt;/span&gt;
      &lt;div class=&quot;buttons&quot;&gt;
         &lt;button lw-on:click=&quot;updateQuantity()&quot;&gt;Update Quantity&lt;/button&gt;
      &lt;/div&gt;
      &lt;leanweb-demo-child lw-input:item='item'&gt;&lt;/leanweb-demo-child&gt;
   &lt;/div&gt;

</code></pre>
</div>

<div class="code-block">
   <span class="label">parent.js</span>
   <pre><code class="javascript">
   class extends LWElement {
      item = {
         name: 'Banana',
         quantity: 1,
      };

      // use the side effect that DOM is updated after `lw-on:` event is fired
      updateQuantity() {
      }
   }

</code></pre>
</div>

<div class="code-block">
   <span class="label">child.html</span>
   <pre><code class="html">
   &lt;div class='child'&gt;
      &lt;span&gt;Child&lt;/span&gt;
      &lt;span lw&gt;item?.quantity&lt;/span&gt;
      &lt;div class=&quot;buttons&quot;&gt;
         &lt;button lw-on:click=&quot;addOne()&quot;&gt;Add One&lt;/button&gt;
         &lt;button lw-on:click=&quot;removeOne()&quot;&gt;Remove One&lt;/button&gt;
      &lt;/div&gt;
   &lt;/div&gt;

</code></pre>
</div>

<div class="code-block">
   <span class="label">child.js</span>
   <pre><code class="javascript">
   class extends LWElement {
      addOne() {
         this.item.quantity += 1;
      }

      removeOne() {
         this.item.quantity -= 1;
      }
   }

</code></pre>
</div>

<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         <leanweb-app-sections-code-06-parent></leanweb-app-sections-code-06-parent>
      </div>
   </leanweb-app-terminal>
</div>