<h2>Working with 2D array</h2>
<div class="code-block">
   <span class="label">HTML</span>
   <pre><code class="html">
   &lt;button lw-on:click='reset()'&gt;Reset&lt;/button&gt;
   &lt;div lw-for='row in array2d'&gt;
      &lt;span lw-for='cell, $i in row'&gt;
         &lt;!-- cell is primitive type which is passed by value, --&gt;
         &lt;!-- so lw-model uses row[$i] which is passed by reference --&gt;
         &lt;input type='number' lw-model='row[$i]'&gt;
         &lt;span lw&gt;cell&lt;/span&gt;
      &lt;/span&gt;
   &lt;/div&gt;

</code></pre>
</div>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   class extends LWElement {
      array2d = [
         [1, 2, 3],
         [4, 5, 6],
         [7, 8, 9],
      ];

      reset() {
         this.array2d.forEach(a => a.fill(0));
      }
   }

</code></pre>
</div>

<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         <button lw-on:click="reset()">Reset</button>
         <div lw-for="row in array2d">
            <span lw-for="cell, $i in row">
               <!-- cell is primitive type which is passed by value, -->
               <!-- so lw-model uses row[$i] which is passed by reference -->
               <input type="number" lw-model="row[$i]">
               <span lw>cell</span>
            </span>
         </div>
      </div>
   </leanweb-app-terminal>
</div>