<h2>lw-bind:</h2>
<div class="code-block">
   <span class="label">HTML</span>
   <pre><code class="html">
   &lt;img lw-bind:src='imgSrc' lw-bind:width='imageWidth' lw-bind:title='title'&gt;

</code></pre>
</div>

<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   class extends LWElement {
      imgSrc = 'https://leanweb.app/images/az.gif';
      imageWidth = 400;
      title = 'Beautiful Arizona';
   }
</code></pre>
</div>

<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         <img lw-bind:src='imgSrc' lw-bind:width='imageWidth' lw-bind:title='title'>
      </div>
   </leanweb-app-terminal>
</div>