<h2>Working with Radio Buttons</h2>
<div class="code-block">
   <span class="label">HTML</span>
   <pre><code class="html">
   &lt;button lw-on:click='chooseTwo()'&gt;Choose Two&lt;/button&gt;
   &lt;div lw-for='item, $index in items'&gt;
      &lt;input type='radio' lw-bind:value='item' lw-model='picked'&gt;
      &lt;span lw&gt;item&lt;/span&gt;
   &lt;/div&gt;
   &lt;span lw&gt;picked&lt;/span&gt;

</code></pre>
</div>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   class extends LWElement {
      items = ['one', 'two', 'three'];
      chooseTwo() {
         this.picked = 'two';
      }
   }

</code></pre>
</div>

<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         <button lw-on:click='chooseTwo()'>Choose Two</button>
         <div lw-for="item, $index in items">
            <input type="radio" lw-bind:value="item" lw-model="picked"><span lw>item</span>
         </div>
         <span lw>picked</span>
      </div>
   </leanweb-app-terminal>
</div>