<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/agate.min.css">
<h2>Working with Radio Buttons</h2>
<div class="code-block">
   <span class="label">HTML</span>
   <pre><code class="html">
   &lt;button lw-on:click='chooseTwo()'&gt;Choose Two&lt;/button&gt;
   &lt;div lw-for=&quot;item, $index in items&quot;&gt;
      &lt;input type=&quot;radio&quot; name=&quot;pickOne&quot; lw-bind:value=&quot;item&quot; lw-model=&quot;picked&quot;&gt;
      &lt;span lw&gt;item&lt;/span&gt;
   &lt;/div&gt;
   &lt;span lw&gt;picked&lt;/span&gt;

</code></pre>
</div>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   class extends LWElement {
      items = ['one', 'two', 'three'];
      toggleCheckboxes() {
         if (this.checkedValues.length) {
            this.checkedValues.length = 0;
         } else {
            this.checkedValues = [...this.items];
         }
         this.update();
      }
      checkedValues = [];
   }

</code></pre>
</div>

<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         <button lw-on:click='chooseTwo()'>Choose Two</button>
         <div lw-for="item, $index in items">
            <input type="radio" name="pickOne" lw-bind:value="item" lw-model="picked"><span lw>item</span>
         </div>
         <span lw>picked</span>
      </div>
   </leanweb-app-terminal>
</div>