<h2>lw-model: and lw-on:</h2>
<div class="code-block">
   <span class="label">HTML</span>
   <pre><code class="html">
   &lt;input type='text' lw-model='name'&gt;
   &lt;button lw-on:click='resetName($event, $node)'&gt; Reset Name &lt;/button&gt;
   &lt;!-- You could bind multiple events --&gt;
   &lt;!-- &lt;button lw-on:click,mouseout='resetName($event, $node)'&gt; Reset Name &lt;/button&gt; --&gt;
   &lt;span lw&gt;name&lt;/span&gt;

</code></pre>
</div>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   class extends LWElement {
      resetName(event, node) {
         this.name = 'Leanweb';
      }
   }

</code></pre>
</div>

<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         <input type="text" lw-model="name">
         <button lw-on:click="resetName($event, $node)"> Reset Name </button>
         <!-- You could bind multiple events -->
         <!-- <button lw-on:click,mouseout="resetName($event, $node)"> Reset Name </button> -->
         <span lw>name</span>
      </div>
   </leanweb-app-terminal>
</div>