<div class="left">
   <img class="logo" src="favicon.svg" alt="LW" width="40">
   <span class="brand">Leanweb</span> <span lw class="version">leanweb.runtimeVersion</span>
</div>

<div class="right">
   <a href="https://leanweb.slack.com" class="slack">
      <img src="/resources/images/slack.svg" alt="Slack" width="32">
   </a>

   <a href="https://www.npmjs.com/package/leanweb" class="npm">
      <img src="/resources/images/npm.svg" alt="NPM" width="32">
   </a>

   <a href="https://github.com/elgs/leanweb" class="github">
      <img src="/resources/images/github.svg" alt="GitHub" width="32">
   </a>
</div>