:host {
  background-color: #333;
  height: 50px;
  gap: 0 20px;
  align-items: center;

  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 100px)) 1fr;

  .logo {
    grid-column: 2;
    grid-row: 1;
  }

  div.links {
    display: flex;
    justify-content: flex-end;
    grid-column: 7;
    grid-row: 1;

    svg.npm {
      fill: lightgray;
      width: 32px;
    }

    svg.github {
      fill: lightgray;
      width: 32px;
      margin-left: 20px;
    }
  }
}
