<h2>lw</h2>
<div class="code-block">
   <span class="label">HTML</span>
   <pre><code class="html">
   &lt;div&gt;
      Hello &lt;span lw&gt;world&lt;/span&gt;!
   &lt;/div&gt;
   &lt;div&gt;
      I &lt;span lw&gt;this instanceof HTMLElement ? '❤️' : '💔'&lt;/span&gt; Leanweb!
   &lt;/div&gt;

</code></pre>
</div>
<div class="code-block">
   <span class="label">Javascript</span>
   <pre><code class="javascript">
   class extends LWElement {
      world = 'Leanweb';
   }

</code></pre>
</div>
<div class="browser">
   <leanweb-app-terminal>
      <div class="mainScreen">
         <div>
            Hello <span lw>world</span>!
         </div>
         <div>
            I <span lw>this instanceof HTMLElement?'❤️':'hate'</span> Leanweb!
         </div>
      </div>
   </leanweb-app-terminal>
</div>