.commands,
.directives,
.form-bindings,
.advanced-topics,
.howtos {
  padding-top: 50px;
  align-items: center;
  gap: 0 20px;

  display: grid;
  grid-template-columns: 1fr repeat(8, minmax(auto, 80px)) 1fr;

  background-color: #fafafa;

  div.center {
    grid-column: 2/10;
    grid-row: 1;
    align-items: center;
  }
}
