html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.code-block {
  position: relative;
  .label {
    position: absolute;
    color: lightgray;
    right: 4px;
    top: 4px;
    font-size: 11px;
  }
  pre {
    margin: 0;
  }
}

.browser {
  leanweb-app-terminal .mainScreen {
    background-color: white;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 0 0 2px 2px;
  }
}
