.text-highlight {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

p {
  line-height: 1.5em;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.code-block {
  position: relative;
  .label {
    position: absolute;
    color: lightgray;
    right: 4px;
    top: 4px;
    font-size: 11px;
  }
  pre {
    margin: 0;
  }
}

.browser {
  leanweb-app-terminal .mainScreen {
    background-color: white;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 0 0 2px 2px;
  }
}
