html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.codeBlock {
  position: relative;
  .label {
    position: absolute;
    color: lightgray;
    right: 4px;
    top: 4px;
    font-size: 11px;
  }
}

div {
//   border: 1px solid lightgray;
}
