html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.code-block {
  position: relative;
  .label {
    position: absolute;
    color: lightgray;
    right: 4px;
    top: 4px;
    font-size: 11px;
  }
  pre {
    margin: 0;
  }
}

.browser {
  leanweb-app-terminal .mainScreen {
    background-color: white;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 0 0 2px 2px;
  }
}

.text-highlight {
  background-color: #ddd;
  padding: 1px 4px;
  border-radius: 1px;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h4,
h5 {
  font-weight: 400;
}
// div {
//   border: 1px solid black;
//   color: red;
// }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #333;
  color: white;
}
.hljs-name,
.hljs-strong {
  font-weight: bold;
}
.hljs-code,
.hljs-emphasis {
  font-style: italic;
}
.hljs-tag {
  color: #62c8f3;
}
.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class {
  color: #ade5fc;
}
.hljs-string,
.hljs-bullet {
  color: #a2fca2;
}
.hljs-type,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-quote,
.hljs-built_in,
.hljs-builtin-name {
  color: #ffa;
}
.hljs-number,
.hljs-symbol,
.hljs-bullet {
  color: #d36363;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #fcc28c;
}
.hljs-comment,
.hljs-deletion,
.hljs-code {
  color: #888;
}
.hljs-regexp,
.hljs-link {
  color: #c6b4f0;
}
.hljs-meta {
  color: #fc9b9b;
}
.hljs-deletion {
  background-color: #fc9b9b;
  color: #333;
}
.hljs-addition {
  background-color: #a2fca2;
  color: #333;
}
.hljs a {
  color: inherit;
}
.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
